body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(87, 3, 62);}

.container{
    max-width: 100%;
    height: 400vh;
    }

.list_start{
    max-width: 95%;
    margin: 0 auto 100px;
    padding: 0;
    justify-content: space-between;
    position: relative;
}

.mini{
    width: 100%;
    height: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
.menu{
    width: 100%;
    height: 200px;
    background-color: transparent; /*완전투명*/
    display: flex;
    color: hotpink;
    font-size: medium;
    font-weight: 200 ;
    z-index: 10;
    position: fixed;
    justify-content: space-between;
}

.menu:hover{
    width: 100%;
    background-color: rgba(41, 41, 85, 0.678);
    transition-duration: 0.8s;
}
.big_img{
    max-width: 1920px;
    /* z-index: -1; */
    /* position: absolute; */
}
#main_title{
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
}
        #main_title_1{
            letter-spacing: 0.2em;
            font-size: 15pt;
            font-weight: 500;
        }
        #main_title_2{
            font-size: 12pt;
            font-weight: 200;
            letter-spacing: 0.04em;
        }
.middle_상_row{
    display: flex;
    margin-bottom: 100px;
    margin-top: 30px;
    justify-content: space-around;
    box-sizing: border-box;
    
}
#middle_title{
    margin-top: 10px;
}

.mini_row{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 100px;
    box-sizing: border-box;
}

#mini_title{
    margin-top: 10px;

}

.middle_2_row{
    display: flex;
    justify-content: space-around;
}
/*=========================*/
.slider{
    width: 100%;
    height: 700px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 100px;
}
.slider input[type=radio]{
    display: none;
}
ul.imgs{
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.imgs li{
    position: absolute;
    left: 1000px;
    transition-delay: 1s;
    padding: 0;
    margin: 0;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: white;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: white;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: white;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: white;
}
.slider input[type=radio]:nth-child(5):checked~.bullets>label:nth-child(5){
    background-color: white;
}


.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(5):checked~ul.imgs>li:nth-child(5){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
/*=========================*/
#slider_title{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}
#middle_2{
    margin-top: 50px;
    margin-bottom: 100px;
}
.footer{
    margin: 200 300;
    width: 100%;
    height: 300px;
    display: flex;
    background-color: black;
}

#footer_texts_area{
    width: 70%;
    margin: 100px auto 70px;
    padding: 0;
    word-spacing : 5px;
    color:gray;
}
#f_1{
    line-height: 160%;
    font-size: 12px;
    font-weight: 300;
}
#f_2{
    line-height: 300%;
    font-size: 15px;
}
#f_3{
    line-height: 140%;
    font-size: 16px;
}